@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply antialiased;
    }
  }
  
  @layer utilities {
    .bg-gradient-overlay {
      background: linear-gradient(
        to bottom right,
        rgba(126, 34, 206, 0.1),
        rgba(37, 99, 235, 0.1)
      );
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }